<%= simple_form_for([@save_money, @save_money.wallets.build]) do |f| %>
  <%= f.error_notification %>

  <form class="form-control">
    <div class="row">
      <div class="col-6 mb-2">
        <%= f.input :title,
                    required: true,
                    label: false,
                    input_html: { placeholder: "Título *" } %>
      </div>
      <div class="col-6 mb-2">
        <%= f.input :description,
                    label: false,
                    input_html: { placeholder: "Descrição", rows: 1 } %>
      </div>
      <div class="col-6 mb-2">
        <%= f.input :value,
                    required: true,
                    label: false,
                    input_html: { placeholder: "Valor *" } %>
      </div>
      <div class="col-6 mb-2">
        <%= f.input :date,
                    required: true,
                    label: false,
                    input_html: { placeholder: "Data" } %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Adicionar Investimento", class: "btn btn-success" %>
    </div>
  </form>
<% end %>


