<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.84.0">
  <title>Signin Template · Bootstrap v5.0</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
  <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
  <meta name="theme-color" content="#7952b3">


  <style>
      .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
      }

      @media (min-width: 768px) {
          .bd-placeholder-img-lg {
              font-size: 3.5rem;
          }
      }
  </style>


  <!-- Custom styles for this template -->
  <link href="signin.css" rel="stylesheet">
</head>

<center>
  <div class="container">
    <div class="col-md-4">
      <main class="form-signin">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <form>
              <div class="mb-3 mt-3">
                <%= image_tag("logo_login.png", width: '82', height: '67') %>
              </div>
              <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

              <div class="form-floating mb-3">
                <%= f.input :email,
                            label: false,
                            required: false,
                            autofocus: true,
                            placeholder: "name@example.com",
                            input_html: { autocomplete: "email", class: "form-control", id: "floatingInput", } %>
              </div>
              <div class="form-floating mb-3">
                <%= f.input :password,
                            label: false,
                            required: false,
                            placeholder: "Password",
                            input_html: { autocomplete: "current-password", class: "form-control", id: "floatingPassword", } %>
              </div>

              <div class="checkbox mb-3">
                <label>
                  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                </label>
              </div>
              <%= f.button :submit, "Log in", class: "btn btn-lg btn-primary" %>
              <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
            </form>
          <% end %>
        </main>
    </div>
  </div>
</center>
