<% @payments.reverse_each do |payment| %>
  <h4> <%= payment.first.strftime("%B %Y") %> </h4>
    <table class="table">
      <tbody>
        <% payment.last.each do |body| %>
          <tr>
            <td>
              <%= body.date.strftime("%d/%m") %>
            </td>
            <td>
              <%= body.title %>
            </td>
            <td>
              <%= number_to_currency(body.value, unit: "R$")  %>
            </td>
            <td>
              <%= link_to 'Detalhes', body, class: "btn btn-primary btn-sm text-light" %>
              <%= link_to 'Editar', edit_payment_path(body), class: "btn btn-warning btn-sm text-light" %>
              <%= link_to 'Apagar', body, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm text-light" %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="1">
        </td>
        <td>
          <h6> <b> Total </b> </h6>
        </td>
        <td colspan="3">
          <h6> <%= number_to_currency(payment.last.sum(&:value), unit: "R$") %> </h6>
        </td>
      </tr>
      </tfoot>
    </table>
<% end %>
