<p id="notice"><%= notice %></p>

<h1>Payments - R$ <%= current_user.payment_balance %></h1>

<%= render "payments/by_month" %>

<div> <%= link_to 'New Payment', new_payment_path %> </div>
<div> <%= link_to 'Voltar', root_path %> </div>
