<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
  <tr>
    <th>Título</th>
    <th>Descrição</th>
    <th>Valor</th>
    <th>Data</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td> <%= @payment.title %> </td>
    <td> <%= @payment.description.nil? ? @payment.description : "---" %> </td>
    <td> <%= @payment.value %> </td>
    <td> <%= @payment.date %> </td>
  </tr>
  </tbody>
</table>

<%= link_to 'Editar', edit_payment_path(@payment), class: "btn btn-warning btn-sm text-light" %>
<%= link_to 'Voltar', payments_path, class: "btn btn-secondary btn-sm text-light" %>
