<p id="notice"><%= notice %></p>

<%== pagy_bootstrap_nav(@calendar[:year]) %>
<%== pagy_bootstrap_nav(@calendar[:month]) %>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Value</th>
    <th>Date</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @receivables.each do |receivable| %>
    <tr>
      <td><%= receivable.title %></td>
      <td><%= receivable.description %></td>
      <td><%= number_to_currency(receivable.value, unit: "R$ ") %></td>
      <td><%= receivable.date %></td>
      <td><%= link_to 'Show', receivable %></td>
      <td><%= link_to 'Edit', edit_receivable_path(receivable) %></td>
      <td><%= link_to 'Destroy', receivable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%== pagy_bootstrap_nav(@pagy) %>
