<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col">
      <h3>Receivables - R$ <%= current_user.receivable_balance %></h3>
      <%= link_to 'New Receivable', new_receivable_path, class: "btn btn-primary btn-sm text-white" %>
      <%= link_to 'Voltar', root_path, class: "btn btn-primary btn-sm text-white" %>
    </div>
  </div>
  <hr />

  <%= render "receivables/by_month" %>

</div>
