<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
  <tr>
    <th>Título</th>
    <th>Descrição</th>
    <th>Valor</th>
    <th>Data</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td> <%= @receivable.title %> </td>
    <td> <%= @receivable.description.nil? ? @receivable.description : "---" %> </td>
    <td> <%= @receivable.value %> </td>
    <td> <%= @receivable.date %> </td>
  </tr>
  </tbody>
</table>

<%= link_to 'Editar', edit_receivable_path(@receivable), class: "btn btn-warning btn-sm text-light" %>
<%= link_to 'Voltar', receivables_path, class: "btn btn-secondary btn-sm text-light" %>
