<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @receivable.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @receivable.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @receivable.value %>
</p>

<p>
  <strong>Date:</strong>
  <%= @receivable.date %>
</p>

<%= link_to 'Edit', edit_receivable_path(@receivable) %> |
<%= link_to 'Back', receivables_path %>
