
<%= simple_form_for(@save_money) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <form class="form-control">
    <div class="row">
      <div class="col-6 mb-2">
        <%= f.input :title,
                    required: true,
                    label: false,
                    input_html: { placeholder: "Título *" } %>
      </div>
      <div class="col-6 mb-2">
        <%= f.input :description,
                    label: false,
                    input_html: { placeholder: "Descrição", rows: 1 } %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Criar Carteira", class: "btn btn-success" %>
    </div>
  </form>
<% end %>
