<p id="notice"><%= notice %></p>

<h1>Save Moneys</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th> Total </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @save_moneys.each do |save_money| %>
      <tr>
        <td> <%= save_money.title %> </td>
        <td> <%= save_money.description %> </td>
        <td> <%= save_money.total_by_wallet %> </td>
        <td><%= link_to 'Show', save_money %></td>
        <td><%= link_to 'Edit', edit_save_money_path(save_money) %></td>
        <td><%= link_to 'Destroy', save_money, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Save Money', new_save_money_path %>
