<p id="notice"><%= notice %></p>



<h2>Reservas/Investimentos: </h2>
<%= render "save_money_wallets/wallets" %>

<h2> Nova Entrada: </h2>
<%= render "save_money_wallets/form" %>

<%= link_to 'Edit', edit_save_money_path(@save_money) %> |
<%= link_to 'Back', save_moneys_path %>
