<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col">
    <h4> Carteira: <%= @save_money.title.capitalize %> </h4>
    <p> <b> Descrição: </b> <%= @save_money.description %> </p>
  </div>
</div>


<h6>Valor Guardado: </h6>
<hr>
<%= render "save_money_wallets/wallets" %>

<h2> Adicionar Valor: </h2>
<%= render "save_money_wallets/form" %>

<%= link_to 'Voltar', save_moneys_path, class: "btn btn-secondary btn-sm text-light mt-2 float-right" %>
