<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @save_money.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @save_money.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @save_money.user_id %>
</p>

<%= link_to 'Edit', edit_save_money_path(@save_money) %> |
<%= link_to 'Back', save_moneys_path %>
